@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --Dark-cyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);
    --Very-dark-blue: hsl(212, 21%, 14%);
    --Dark-grayish-blue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.mobile{
    display: none;
}

body{
    background-color: var(--Cream);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    display: flex;
    background-color: white;
    align-items: center;
    width: 40rem;
    border-radius: 12px;
}

.img-container{
    display: flex;
    width: 50%;
    
}

.desktop{
    width: 100%;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.info-container{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0 5%;
    text-align: start;
}

.price-container{
    display: flex;
    flex-direction: row;
}

.price-container p{
    margin-top: 10px;
    margin-left: 15px;
    text-decoration: line-through;
}

p{
    margin:  10% 0;
    line-height: 1.25rem;
    font-family: "Fraunces" , sans-serif ;
    font-size: 14px;
    color: var(--Dark-grayish-blue);
}

a{
    color: white;
    background-color: var(--Dark-cyan);
    text-align: center;
    padding: 10px;
    border-radius: 10px;

}

.info-container > p:first-child{
    letter-spacing: 10px;
}

h2{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

.price-container > h1:first-child{
    color: var(--Dark-cyan);
}



@media (max-width: 375px){
    .container{
        height: 95%;
        display: flex;
        flex-direction: column;
        margin: 20px;
    }
    .img-container{
        width: 100%;
        border-radius: 12px 12px;
    }
    .desktop{
        display: none;
    }
    .mobile{
        display: block;
        width: 100%;
        border-radius: 12px 12px 0 0;
    }
    .info-container{
        width: 100%;
    }
    .info-container > p:first-child{
        margin-bottom: 15px;
    }
    .info-container > p:nth-child(2){
        margin-bottom: 5px;
    }
    .info-container > h2:first-child{
        margin-bottom: 50px;
    }
}